/* Nour Alhuda Ghazwan Safia 2216847 */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f9fa;
}

header {
    text-align: center;
    background: #4d4150;
    color: white;
    padding: 40px 20px;
    border-bottom: 4px solid #495057;
}

header img {
    width: 150px;
    border-radius: 50%;
    margin-top: 20px;
    border: 3px solid #fff;
}

section {
    max-width: 800px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    position: relative; 
    border-top: 2px dashed #3a025a;
}

section:not(:last-child) {
    border-bottom: 2px dashed #3a025a; 
}
h2 {
    color: #343a40;
    padding-bottom: 10px;
}
.project {
    background: #f8f9fa;
    padding: 15px;
    margin-bottom: 15px;
    border-left: 5px solid #3a025a;
}

.project h3 {
    color: #3a025a;
}

footer {
    text-align: center;
    padding: 15px;
    background: #4d4150;
    color: white;
    margin-top: 20px;
}

.btn-link {
    text-decoration: none;
    color: #3a025a;
}

.btn-link:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    section {
        width: 95%;
    }
}
